<div id="content-wrapper">
  <div id="table">
    <%= image_tag '/images/header.png' %>
  </div>

  <!-- Bracket -->
  <div id="bracket">
    <% (1..4).to_a.each do |round_num| %>
        <%= render :partial => 'brackets/round', :locals => {:round_num => round_num, :bracket => (bracket ||= nil)} %>
    <% end %>


    <%
       championship_game = Game.championship

       if bracket.present?
         winner_pick = bracket.picks.where(:game_id => championship_game.id).first
         winner_team = winner_pick.team
       else
         winner_team = championship_game.winner
       end

    %>

    <div id="round5" class="round">
      <h3>
        Round 5
      </h3>
      <div class="region region1">
        <div id="winner" class="match m1">
          <p class="slot slot2 <%= "team#{winner_team.id}" if winner_team.present? %>">

            <% if winner_team.present? %>

                <% if winner_pick.present? %>
                  <% if championship_game.winner.present? %>
                    <% if championship_game.winner == winner_pick.team %>
                        <strong>
                    <% else %>
                        <strike>
                    <% end %>
                        <% elsif winner_team.eliminated? %>
                    <strike>
                        <% end %>
                <% else #winner_pick.blank? %>
                <% if championship_game.winner.present? %>
                    <% if championship_game.winner == winner_team %>
                        <strong>
                    <% else %>
                        <strike>
                    <% end %>
                <% end %>
                <% end %>

                <span class="seed"><%= winner_team.seed %></span>
                <%= winner_team.name %>


                <% if winner_pick.present? %>
                    <% if championship_game.winner.present? %>
                        <% if championship_game.winner != winner_team %>
                                </strike>
                            <% else %>
                                </strong>
                            <% end %>
                    <% elsif winner_team.eliminated? %>
                            </strike>
                        <% end %>
                <% else #pick.blank? %>




                    <% if championship_game.winner.present? %>
                        <% if championship_game.winner != winner_team %>
                            </strike>
                        <% else %>
                            </strong>
                        <% end %>
                    <% end %>
                <% end %>

            <% end %>
          </p>
        </div>
      </div>
    </div>

    <% if bracket.present? %>
        <div id="tie-breaker" class="pagination-centered"><span id="tie-breaker-static"><abbr title="Points in final game">Tie Breaker:</abbr> <%= bracket.tie_breaker || 'None' %></span></div>
    <% end %>
  </div>

</div>
