<% if round_num != 4 %>
<div id="round<%=round_num +2 %>" class="round">


  <% if round_num < 3 %>
      <div class="region region1">
        <%= render :partial => 'brackets/game_set', :locals => {:games => Game.round_for(round_num, 'South') + Game.round_for(round_num, 'East'), :bracket => (bracket ||= nil)} %>
      </div>

      <div class="region region3">
        <%= render :partial => 'brackets/game_set', :locals => {:games => Game.round_for(round_num, 'West') + Game.round_for(round_num, 'Midwest'), :bracket => (bracket ||= nil)} %>
      </div>
  <% elsif round_num == 3 %>
      <div class="region region1">
        <%= render :partial => 'brackets/game_set', :locals => {:games => [Game.round_for(round_num).first], :bracket => (bracket ||= nil)} %>
      </div>

      <div class="region region3">
        <%= render :partial => 'brackets/game_set', :locals => {:games => [Game.round_for(round_num).last], :bracket => (bracket ||= nil)} %>
      </div>
  <% end %>
</div>


<% else #championship %>

    <% game = Game.championship %>
    <% pick = bracket.present? ? bracket.picks.where(:game_id => game.id).first : nil %>
    <% team = pick.try(:team) || game.winner %>
    <% first_team = pick.try(:first_team) || game.first_team %>
    <% second_team = pick.try(:second_team) || game.second_team %>

    <div id="round6" class="round">
      <div id="match15" class="match">
        <div id="region1champ">

          <p id="slot127" class="slot slot1 <%= "team#{first_team.id}" if first_team.present? %>">
            <% if first_team.present? %>
                <span class="seed"><%= first_team.seed %></span>
                <%= first_team.name %>
                <% if game.score_one.present? && pick.blank? %><em class="score"><%= game.score_one %></em><% end %>
            <% end %>
          </p>
        </div>
        <div id="region3champ">
          <p id="slot128" style="margin-left:90px;" class="slot slot2 <%= "team#{second_team.id}" if second_team.present? %>">
            <% if second_team.present? %>
                <span class="seed"><%= second_team.seed %></span>
                <%= second_team.name %>
                <% if game.score_two.present? && pick.blank? %><em class="score"><%= game.score_two %></em><% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>


    <div id="championship" class="round">
      <div class="box">
        <p class="square square1 <%= team.present? ? "team#{team.id}" : nil %>">



          <% if team.present? %>
    <% if pick.present? %>
        <% if game.winner.present? %>
          <% if game.winner == team %>
                    <strong>
                <% else %>
                    <strike>
                <% end %>
            <% elsif team.eliminated? %>
                <strike>
            <% end %>

    <% else #pick.blank? %>
        <% if game.winner.present? %>
          <% if game.winner == team %>
            <strong>
          <% else %>
            <strike>
          <% end %>
        <% end %>
    <% end %>


    <%= team.name %>


    <% if pick.present? %>
        <% if game.winner.present? %>
            <% if game.winner == team %>
                </strong>
            <% else %>
                </strike>
            <% end %>
        <% elsif team.eliminated? %>
            </strike>
        <% end %>
    <% else #pick.blank? %>
        <% if game.winner.present? %>
            <% if game.winner == team %>
                </strong>
            <% else %>
                </strike>
            <% end %>
        <% end %>
    <% end %>
<% end %>

</p>
    </div>
</div>

<% end %>

